*~
elpa/
transient/
eshell/
session.*
.cache/
.local/
history
.lsp*
*.eld
backups/
#*
*.dat
auto-save-list/
configuration.el
backups/
.cache/
eln-cache/
elpa/
package-quickstart.*
projectile-bookmarks.eld
recentf
transient/
tutorial/
